body,
html {
  height: 1500px;
  margin: 0;
}
.redBox {
  background-color: #ff7979;
  height: 100px;
  width: 100%;
  top: 0;
  position: fixed;
  display: block;
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
}
.blueBox {
  box-sizing: border-box;
  background-color: #7ed6df;
  width: 70%;
  height: 100%;
  top: 100px;
  color: white;
  padding: 50px;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
}
.yelloBox {
  box-sizing: border-box;
  background-color: #ffcc00;
  width: 30%;
  height: 100%;
  top: 100px;
  right: 0;
  border: 2px solid gray;
  position: absolute;
}
.greenBox {
  box-sizing: border-box;
  background-color: greenyellow;
  width: 10%;
  height: 2%;
  margin: 85px 30% 0px 65%;
  position: absolute;
}
